.addon_Smart_Pen_Data {
    position: relative;
    width: 100%;
    height: 100%;
}

.steps, .icon {
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: no-drop; /*not-allowed;*/
}